parameters:
	banned_code:
		eval: true
		exit: true
		functions:
			- debug_backtrace
			- dump
			- exec
			- passthru
			- print_r
			- proc_open
			- shell_exec
			- system
			- var_dump
		use_from_tests: true

services:
	-
		class: Ekino\PHPStanBannedCode\Rules\BannedEvalRule(%banned_code.eval%)
		tags:
			- phpstan.rules.rule

	-
		class: Ekino\PHPStanBannedCode\Rules\BannedExitRule(%banned_code.exit%)
		tags:
			- phpstan.rules.rule

	-
		class: Ekino\PHPStanBannedCode\Rules\BannedFunctionsRule(%banned_code.functions%)
		tags:
			- phpstan.rules.rule

	-
		class: Ekino\PHPStanBannedCode\Rules\BannedUseTestRule(%banned_code.use_from_tests%)
		tags:
			- phpstan.rules.rule
